rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isAdmin() {
      return request.auth != null
        && firestore.exists(
          /databases/(default)/documents/usuarios/$(request.auth.uid)
        )
        && firestore.get(
          /databases/(default)/documents/usuarios/$(request.auth.uid)
        ).data.is_admin == true;
    }

    match /produtos/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}